body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

#filtros {
  margin: 10px;
}

#filtros button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

#map {
  height: 90vh;
  width: 100%;
}
